# Codealong Notebook

Use this notebook as your "scratch pad" as you go through the course contents. Feel free to copy any example code and tweak it to get a better understanding of how it works!

Use the **+** button or `Insert` menu to add additional code cells as needed.

In [1]:
# Import the libraries
import pandas as pd
import openai

## Step 1

### Loading the Data with `pandas`

In [4]:
# Load the dataset
ds = pd.read_csv("./embeddings.csv")

# Remove Unnamed columns
ds = ds.loc[:, ~ds.columns.str.contains('^Unnamed')]

ds

,text,embeddings
0,– 2022 (MMXXII) was a common year starting on...,"[9.742109250510111e-05, -0.018078520894050598,..."
1,– 2022 saw the removal of nearly all COVID-19...,"[-0.006740245968103409, -0.024927902966737747,..."
2,"– The Russian invasion of Ukraine, the larges...","[-0.0062200650572776794, -0.007076282054185867..."
3,"– Many prominent figures died in 2022, includ...","[-0.0067838518880307674, -0.008528643287718296..."
4,January 1 – The Regional Comprehensive Economi...,"[-0.0005128878983668983, -0.02750258892774582,..."
...,...,...
168,December 7 – After substantial protests agains...,"[0.015803100541234016, -0.01866208389401436, -..."
169,December 17 – Leo Varadkar succeeds Micheál Ma...,"[0.008315027691423893, -0.02372470125555992, -..."
170,December 19 – At the UN Biodiversity Conferenc...,"[0.0017093520145863295, -0.009248359128832817,..."
171,December 21–26 – A major winter storm hits the...,"[-0.024563809856772423, -0.020963717252016068,..."
172,December 24 – 2022 Fijian general election: Th...,"[-0.011584475636482239, -0.009254708886146545,..."

### Creating an Embeddings Index with `openai.Embedding`

## Step 2

### Finding Relevant Data with Cosine Similarity

## Step 3

### Tokenizing with `tiktoken`

### Composing a Custom Text Prompt

## Step 4

### Getting a Custom Q&A Response with `openai.Completion`